@media screen{
	.borderer{
		position:absolute;
		left: 0; 
	  	right: 0; 
	  	z-index: -1;
		border-right:1pt solid #000000;
		border-left:1pt solid #000000;
		width: 297mm;
		margin:auto;
	}
}
/* ::  Page Setup
------------------------------------------- */
	.padding-10{
		width:277mm;
		padding:10mm 10mm;	
		margin:auto;
		page-break-after: always;
	}