.bg-grey{
	background-color: gray;
}

.bg-biru-tua{
	background-color: #AED6F1;
}

.bg-biru{
	background-color: #D6EAF8;
}

.bg-biru-muda{
	background-color: #EBF5FB;
}

.bg-orange{
	background-color: #F6DDCC;
}

.bg-merah{
	background-color: #F6DDCC;
}
